@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Sniglet:wght@800&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color:#d0c7ff ;
    font-family: "Oooh Baby", sans-serif;
    color:deeppink;
    margin: 0;
}

h1 {
    font-family: "Sniglet", sans-serif;
    color: purple;
    font-size: 10rem;
    text-align: center;
 
}


